fastapi
uvicorn[standard]
pymongo
motor
python-multipart
passlib[bcrypt]
python-jose[cryptography]
openai-whisper
transformers
torch
torchaudio
spacy
textblob
keybert
python-dotenv
pydantic[email]
librosa
soundfile
